{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="main-content">



 	<section>

        <div class="container pt-0 pb-0">

            <div class="section-content">

                <div class="row">

                    <div class="col-sm-6 col-md-4">

                        <div class="border-left-2px border-theme-colored mt-10 pl-15">

                            <p class="text-uppercase text-gray font-24 m-0">Welcome To</p>

                            <h1 class="text-theme-colored font-36 mt-0">Balco Medical Centre</h1>

                        </div>

                        <p>

                        VMRF is a non-profit organisation initiated by Vedanta Resources and Bharat Aluminium Co. Ltd. (BALCO)

                        to contribute to the prevention of cancer and its related illnesses through a Centre of Excellence in medical,

                        surgical and radiation oncology. More than 2.5 million Indians currently live with cancer and the country sees

                        over 5,50,000 cancer-related deaths each year. With these statistics in mind, VMRF aims to bring ultra-modern,

                        multi-modality diagnostic and therapeutic facilities within easy reach of India’s population at a reasonable and affordable cost.

                        </p>

                    </div>

                    <div class="col-sm-6 col-md-8">

                        <img class="img-fullwidth" alt="About Balco Medical Centre" src="https://balcomedicalcentre.com/package/images/aboutus2.jpg">

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- Section: Services -->

    <section class="bg-light">

        <div class="container">

            <div class="section-content">

                <div class="row">

                    <div class="col-md-4">



                        <h4 class="text-theme-colored title-border"> <img src="https://balcomedicalcentre.com/package/images/icon/vision.png" class="about_icon" alt="Vision - Balco Medical Centre" />Our Vision</h4>

                        <p class="mb-1">We envisage a society where everybody lives free from cancer, for life.</p>

                        <p>A society where children don’t grow up without parents, where husbands and wives don’t suffer the premature loss of a partner, and where lives are lived long and to the fullest.</p>

                    </div>

                    <div class="col-md-4">



                        <h4 class="text-theme-colored title-border"><img src="https://balcomedicalcentre.com/package/images/icon/mission.png" class="about_icon" alt="Mission - Balco Medical Centre" />Our Mission</h4>

                        <p class="mb-1">To provide affordable, world-class cancer care to all.</p>

                        <p>By achieving state-of-the-art medical and research environments, our facilities will bring ultra-modern, multi-modality diagnostic and therapeutic facilities within easy reach of the population at a reasonable and affordable cost.</p>

                    </div>

                    <div class="col-md-4">



                        <h4 class="text-theme-colored title-border"><img src="https://balcomedicalcentre.com/package/images/icon/values.png" class="about_icon" alt="Value - Balco Medical Centre"/> Our Values</h4>

                        <p class="mb-1">Our values are our guide to how we behave, interact, and deliver every day for our team, our partners and most importantly, our patients.</p>

                        <li>Trust and Transparency</li>

                        <li>Excellence</li>

                        <li>Humility</li>

                        <li>Nurture</li>

                        <li>Empathy</li>

                        <li>Learning</li>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section class="">

        <div class="container">

            <div class="section-title text-center mb-10">

                <div class="row">

                    <div class="col-md-8 col-md-offset-2">

                        <h2 class="text-uppercase mt-0">Our Leaders</h2>

                        <div class="title-icon">

                            <img class="mb-10" src="https://balcomedicalcentre.com/package/images/title-icon.png" alt="Leaders - Balco Medical Centre">

                        </div>

                    </div>

                </div>

            </div>

            <div class="section-content">

                <div class="row">

                    <div class="col-sx-12 col-sm-4 col-md-4 sidebar pull-left">

                        <div class="doctor-thumb">

                            <img class="img-rounded" src="https://balcomedicalcentre.com/package/images/anilagrawal.jpg" alt="Anil Agarwal - Balco Medical Centre">

                        </div>

                        <ul class="social-icons icon-gray m-0">

                            <li>

                                <a href="#"><i class="fa fa-facebook"></i></a>

                            </li>

                            <li>

                                <a href="#"><i class="fa fa-twitter"></i></a>

                            </li>

                            <li>

                                <a href="#"><i class="fa fa-linkedin"></i></a>

                            </li>

                        </ul>

                    </div>

                    <div class="col-xs-12 col-sm-8 col-md-8 pull-right pl-60 pl-sm-15 text-justify">

                        <div>

                            <h3>Anil Agarwal</h3>

                            <h5 class="text-theme-colored">Chairman - Vedanta Resources</h5>

                            <p>A first-generation industrialist, Anil Agarwal has built Vedanta into a globally diversified natural resources group committed to sustainable development.Throughout his career he has fostered a work philosophy that marries stakeholder value with inclusive growth of local communities.</p>

                            <p>Vedanta group companies have supported over 4,00,000 women and children through education, nutrition and empowerment programmes. Additionally, hospitals, mobile health centres, and rural health posts supported by the group have provided healthcare for another 2.2 million people. Mr. Agarwal now intends to expand this medical support through the Vedanta Cancer Hospital and Research Centre.</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section class="">

        <div class="container pb-10 pt-0">

            <div class="section-content">

                <div class="row">

                    <div class="col-xs-12 col-sm-8 col-md-8 pull-left pr-60 pl-sm-15 text-justify">

                        <div>

                            <h3>Jyoti Agarwal</h3>

                            <h5 class="text-theme-colored">Chairperson - Vedanta Medical Research Foundation</h5>

                            <p>

                            “For over 20 years, Mrs. Jyoti Agarwal has been involved in the  delivery of sustainable solutions that make a genuine difference to individuals and society. An experienced, strategic philanthropist, she has played a lead role in building the Sterlite Tech Foundation and the Agarwal family trust by combining her passion for empowerment and upliftment with a rigorous approach to driving impact.

                            </p>

                            <p>

                            Mrs. Agarwal spearheaded the development of BALCO Medical Centre. Her vision has been critical in driving the Centre’s ambition to create a world-class oncology facility that provides superior-quality treatment at an affordable price for all.

                            </p>

                        </div>

                    </div>

                    <div class="col-sx-12 col-sm-4 col-md-4 sidebar pull-right">

                        <div class="doctor-thumb">

                            <img class="img-rounded" src="https://balcomedicalcentre.com/package/images/jyotiagrawal.jpg" alt="Jyoti Agrawal - Balco Medical Centre">

                        </div>

                        <ul class="social-icons icon-gray m-0">

                            <li>

                                <a href="#"><i class="fa fa-facebook"></i></a>

                            </li>

                            <li>

                                <a href="#"><i class="fa fa-twitter"></i></a>

                            </li>

                            <li>

                                <a href="#"><i class="fa fa-linkedin"></i></a>

                            </li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </section>

  </div>
{% endblock content %}