<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async defer src="https://www.googletagmanager.com/gtag/js?id=UA-121539034-7"></script>

    <script>

      window.dataLayer = window.dataLayer || [];

      function gtag(){dataLayer.push(arguments);}

      gtag('js', new Date());

      gtag('config', 'UA-121539034-7');

    </script>


    <!-- Google Tag Manager -->

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

    })(window,document,'script','dataLayer','GTM-K3NRLQV');</script>

    <!-- End Google Tag Manager -->



    <!-- Meta Tags -->

    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <meta name="description" content=" VMRF is a non-profit organisation initiated by Vedanta Resources and Bharat Aluminium Co. Ltd. (BALCO) to contribute to the prevention of cancer and its related illnesses through a Centre of Excellence in medical, surgical and radiation oncology." />

    <meta name="keywords" content="Radiation oncologist in Raipur Chhattisgarh, PET Scan in raipur chhattisgarh, Hematologist in raipur Chhattisgarh, Blood cancer in raipur chhattisgarh, vedanta cancer hospital, Balco Medical Centre,Cancer Hospital In Raipur,Cancer Care,Cancer Hospital, Best cancer hospital in chhattisgarh, list of cancer hospitals in raipur chhattisgarh" />

    <meta name="author" content="BalcoMedicalCentre" />

    <!-- Page Title -->

    <title>Best Cancer Hospital in Raipur Chhattisgarh | Balco Medical Centre</title>


    <!-- Stylesheet -->

    <link href="https://balcomedicalcentre.com/package/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link href="https://balcomedicalcentre.com/package/css/jquery-ui.min.css" rel="stylesheet" type="text/css">

    <link href="https://balcomedicalcentre.com/package/css/animate.css" rel="stylesheet" type="text/css">

    <link href="https://balcomedicalcentre.com/package/css/css-plugin-collections.css" rel="stylesheet"/>


    <!-- CSS | Main style file -->

    <link href="https://balcomedicalcentre.com/package/css/style-main.css" rel="stylesheet" type="text/css">



    <!-- CSS | Custom Margin Padding Collection -->

    <link href="https://balcomedicalcentre.com/package/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">

    <!-- CSS | Responsive media queries -->

    <link href="https://balcomedicalcentre.com/package/css/responsive.css" rel="stylesheet" type="text/css">


    <!-- CSS | Theme Color -->

    <link href="https://balcomedicalcentre.com/package/css/colors/theme-skin-blue8.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom Style -->

    <link href="https://balcomedicalcentre.com/package/css/style.css" rel="stylesheet" type="text/css">


    <!-- external javascripts -->

    <script src="https://balcomedicalcentre.com/package/js/jquery-2.2.0.min.js"></script>

    <script async src="https://balcomedicalcentre.com/package/js/jquery-ui.min.js"></script>

    <script async src="https://balcomedicalcentre.com/package/js/bootstrap.min.js"></script>

    <!-- JS | jquery plugin collection for this theme -->

    <script src="https://balcomedicalcentre.com/package/js/jquery-plugin-collection.js"></script>


</head>
 <!-- Header -->

   <header id="header" class="header">

    <div class="header-top bg-theme-colored sm-text-center">

    </div>

    <div class="header-middle p-0 bg-lightest xs-text-center">

      <div class="container pt-0 pb-0">

        <div class="row">

            <div class="col-sm-12 col-xs-12 col-md-3 col-lg-2">

                <div class="widget no-border m-0">

<!--                    <a class="menuzord-brand pull-left flip xs-pull-center" href="#">-->

                        <img src="https://balcomedicalcentre.com/package/images/balco_logo.png" alt="Balco Medical Centre">

                    </a>

                </div>

            </div>



            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">

                <div class="row">
<!--
                    <div class="widget widget-header no-border text-center pull-right mb-0 col-sm-2 col-xs-4 col-md-1 col-lg-1 donate-tag">

                            <a href="#" class="font-11 text-uppercase font-weight-bold">

                                <img src="https://balcomedicalcentre.com/package/images/patient-portal.png" class="top_header_image hvr-buzz-out" alt="Balco Medical Centre - Patient Portal" style="max-width:57px;">

                            </a>

                    </div>

                    <div class="widget widget-header no-border text-center pull-right mb-0 col-sm-2 col-xs-4 col-md-1 col-lg-1 donate-tag">

                            <a href="#" class="font-11 text-uppercase font-weight-bold">

                                <img src="https://balcomedicalcentre.com/package/images/donate-now.png" class="top_header_image hvr-buzz-out" alt="Balco Medical Centre - Patient Portal" style="max-width:57px;">

                            </a>

                    </div>

                    <div class="widget widget-header no-border text-center pull-right mb-0 col-sm-2 col-xs-4 col-md-1 col-lg-1 donate-tag">

                            <a href="#" class="font-11 text-uppercase font-weight-bold">

                                <img src="https://balcomedicalcentre.com/package/images/nabh.png" class="top_header_image" alt="NABH Certificate Balco Medical Centre" style="max-width:60px;">

                            </a>

                    </div>
-->
                    <div class="widget widget-header no-border pull-right text-center mb-0 col-sm-6 col-xs-12 col-md-9 col-lg-9 text-center top_header_center_image">

                            <img src="https://balcomedicalcentre.com/package/images/triplecbannergreen.jpg" alt="Balco Medical Centre">

                    </div>



                </div>



            </div>



        </div>

      </div>

    </div>

    <div class="header-nav">



    </div>

  </header>