{% extends 'home.html' %}
{% block doctors %}
<section data-bg-img="package/images/pattern/p8.png">

          <div class="container">

              <div class="section-title mb-0">

                  <div class="row">

                      <div class="col-md-12 text-center">

                          <h3 class="text-uppercase mt-0">Our Doctors</h3>

                          <div class="title-icon">

                              <img class="mb-5" src="https://balcomedicalcentre.com/package/images/title-icon.png" alt="Doctors">

                          </div>

                      </div>

                  </div>

              </div>



              <section>

                <div class="container">

                  <div class="section-content">

                    <div class="owl-carousel-doctor">


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-jayesh-sharma.jpg" alt="Dr. Jayesh Sharma" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Jayesh Sharma
                            </h4>

                            <h6 class="title mt-0">

                              Surgical Oncology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-jayesh-sharma"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-gourav-gupta.jpg" alt="Dr. Gourav Gupta" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Gourav Gupta
                            </h4>

                            <h6 class="title mt-0">

                              Radiation Oncology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-gourav-gupta"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-ashish-mazumdar.jpg" alt="Dr. Ashish Mazumdar" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Ashish Mazumdar
                            </h4>

                            <h6 class="title mt-0">

                              Pain and Palliative Care
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-ashish-mazumdar"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-deba-dulal-biswal.jpg" alt="Dr. Deba Dulal Biswal" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Deba Dulal Biswal
                            </h4>

                            <h6 class="title mt-0">

                              Medical Oncology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-deba-dulal-biswal"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-harsha-k-n.jpg" alt="Dr. Harsha K N" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Harsha K N
                            </h4>

                            <h6 class="title mt-0">

                              Surgical Oncology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-harsha-k-n"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-jay-kumar-rai.jpg" alt="Dr. Jay Kumar Rai" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Jay Kumar Rai
                            </h4>

                            <h6 class="title mt-0">

                              Nuclear Medicine
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-jay-kumar-rai"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-dibyendu-de.jpg" alt="Dr. Dibyendu De" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Dibyendu De
                            </h4>

                            <h6 class="title mt-0">

                              Haemato Oncology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-dibyendu-de"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-shishir-agrawal.jpg" alt="Dr. Shishir Agrawal" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Shishir Agrawal
                            </h4>

                            <h6 class="title mt-0">

                              Radiology Services
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-shishir-agrawal"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-manisa-sahu.jpg" alt="Dr. Manisa Sahu" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Manisa Sahu
                            </h4>

                            <h6 class="title mt-0">

                              Microbiology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-manisa-sahu"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-sandeep-ojha.jpg" alt="Dr. Sandeep Ojha" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Sandeep Ojha
                            </h4>

                            <h6 class="title mt-0">

                              Histo Pathology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-sandeep-ojha"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-shreshtha-tiwari.jpg" alt="Dr. Shreshtha Tiwari" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Shreshtha Tiwari
                            </h4>

                            <h6 class="title mt-0">

                              Microbiology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-shreshtha-tiwari"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-santosh-tharwani.jpg" alt="Dr. Santosh Tharwani" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Santosh Tharwani
                            </h4>

                            <h6 class="title mt-0">

                              Pain and Palliative Care
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-santosh-tharwani"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-poulami-choudhury.jpg" alt="Dr. Poulami Choudhury" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Poulami Choudhury
                            </h4>

                            <h6 class="title mt-0">

                              Pain and Palliative Care
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-poulami-choudhury"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-shilpa-l-meshram.jpg" alt="Dr. Shilpa L Meshram" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Shilpa L Meshram
                            </h4>

                            <h6 class="title mt-0">

                              Pain and Palliative Care
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-shilpa-l-meshram"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-neelesh-jain.jpg" alt="Dr. Neelesh Jain" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Neelesh Jain
                            </h4>

                            <h6 class="title mt-0">

                              Transfusion Medicine & Blood Bank Services
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-neelesh-jain"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/ms-richa-tewari.jpg" alt="Ms Richa Tewari" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Ms Richa Tewari
                            </h4>

                            <h6 class="title mt-0">

                              Clinical Nutrition
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/ms-richa-tewari"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-rashmi-rai.jpg" alt="Dr. Rashmi Rai" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Rashmi Rai
                            </h4>

                            <h6 class="title mt-0">

                              Surgical Oncology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-rashmi-rai"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-dipmalya-chatterjee.jpg" alt="Dr. Dipmalya Chatterjee" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Dipmalya Chatterjee
                            </h4>

                            <h6 class="title mt-0">

                              Surgical Oncology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-dipmalya-chatterjee"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/ms-sumedha-bhattacharjee.jpg" alt="Ms Sumedha Bhattacharjee" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Ms Sumedha Bhattacharjee
                            </h4>

                            <h6 class="title mt-0">

                              Clinical Psychology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/ms-sumedha-bhattacharjee"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-venu-gopal-margekar.jpg" alt="Dr. Venu Gopal Margekar" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Venu Gopal Margekar
                            </h4>

                            <h6 class="title mt-0">

                              General Medicine
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-venu-gopal-margekar"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-parvati-joshi.jpg" alt="Dr. Parvati Joshi" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Parvati Joshi
                            </h4>

                            <h6 class="title mt-0">

                              Histo Pathology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-parvati-joshi"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-ajit-agarwal.jpg" alt="Dr. Ajit Agarwal" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Ajit Agarwal
                            </h4>

                            <h6 class="title mt-0">

                              Surgical Oncology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-ajit-agarwal"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-kalyan-pandey.jpg" alt="Dr. Kalyan Pandey" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Kalyan Pandey
                            </h4>

                            <h6 class="title mt-0">

                              Surgical Oncology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-kalyan-pandey"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>


                      <div class="doctor item bg-white text-center">

                        <div class="team maxwidth400">

                          <div class="thumb pt-5"><img src="https://balcomedicalcentre.com/uploads/doctor/dr-sweta-shivratan-soni.jpg" alt="Dr. Sweta Shivratan Soni" class="index_doctor_image circle"></div>

                          <div class="pt-10 bg-white-light index_doctor_min_height">

                            <h4 class="name mb-0 mt-0 font-12">

                              Dr. Sweta Shivratan Soni
                            </h4>

                            <h6 class="title mt-0">

                              Radiation Oncology
                            </h6>

                            <a class="btn-primary circle doctor-icon pt-5 pb-5 pl-10 pr-10" href="https://balcomedicalcentre.com/doctors/dr-sweta-shivratan-soni"><i class="fa fa-arrow-right text-white"></i></a>

                          </div>

                        </div>

                      </div>



                    </div>

                    <script>

                    $('.owl-carousel-doctor').owlCarousel({

                          loop:true,

                          margin:10,

                          autoplay:true,

                          nav:true,

                          dots:false,

                          autoplayTimeout:8000,

                          navText: [

                              '<i class="fa fa-angle-left"></i>',

                              '<i class="fa fa-angle-right"></i>'

                          ],

                          responsive:{

                              0:{

                                  items:2,
                                  slideBy: 2

                              },

                              600:{

                                  items:3,
                                  slideBy: 3

                              },

                              1000:{

                                  items:6,
                                  slideBy: 3

                              }

                          }

                      })

                  </script>

                  </div>

                </div>

              </section>

          </div>

    </section>
{% endblock doctors %}